
.header{
  width: 100%;
  height: 80px;
  padding: 0 36px;
  justify-content: space-between;
  object-fit: cover; 
  position: fixed;

  background: var(--secondary-color);
  color: var(--white-color);
  background: rgba(8, 11, 22, 0.90);
  backdrop-filter: blur(3px);
  

  display: flex;
  align-items: center;
  z-index: 2;

  >img{
    width: 89px;
    height: 89px;
    margin-right: 72px;
  }

  
}

.links-header{
  display: flex;
  gap: 34px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

.links-header a{
  color: var(--white-color);
  text-decoration: none;
  transition: .5s ease;
}

.links-header a:hover{
  color: rgb(138, 135, 135);
}

.bnt-header{
  width: 211px;
  height: 44px;
  border-radius: 8px;
  background: var(--Yellow-Primary, #F0B35B);

  color: var(--Primary-Color, #0D121E);
  text-align: center;

  /* H5 - Bold */
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: .5s ease;
}

.bnt-header:hover{
  background: var(--Yellow-Primary, #bb8b47);
}

